#team-logo {
    display: inline-block;

    width: 100%;
    transform: translateY(calc(-50% + 90px + 3.2%));
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.8));
    aspect-ratio: auto 3300 / 5100;
}

#team-title {
    display: inline-block;
    position: absolute;

    top: 50%;

    transform: translateY(-50%);
    z-index: 9999;

    width: 25vw;
    height: 180px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
}

#desc {
    display: block;
    
    padding-left: 1%;
    padding-top: 5px;
    color: white;
    
    font-family: 둥근모꼴;
    font-size: 32px;
}

#desc * {
    margin-top: 0px;
    margin-bottom: 10px;
}


body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    
    overflow-x: hidden;
    background-color: black;
}

#preview {
    width: 100vw;
    height: 100vh;
    user-select: none;

    display: inline-block;
    position: absolute;

    top: 0px;
    left: 0px;

    z-index: -10000;
    overflow: hidden;
}

#preview * {
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: inline-block;
    position: absolute;
}

#preview-video {
    width: 100vw;
    height: 100vh;
    
    filter: blur(0.425vw);
    border-width: 0px;

    z-index: -9999;
    background-color: black;
}

#preview-cover {
    z-index: -9998;
    background-color: rgb(0, 0, 0);
    opacity: 0.4;
}

@font-face {
    font-family: 둥근모꼴;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
}