#team-name {
    display: inline-block;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 800;
    position: relative;
    left: 50%;
    color: white;
    transform: translateX(-50%);
}

#desc {
    display: block;
    
    padding-left: 1%;
    color: white;
    
    font-family: 둥근모꼴;
    font-size: 32px;
}

#desc * {
    margin-top: 5px;
    margin-bottom: 10px;
}


body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    
    overflow-x: hidden;
    background-color: black;
}

#preview {
    width: 100vw;
    height: 100vh;
    user-select: none;

    display: inline-block;
    position: absolute;

    top: 0px;
    left: 0px;

    z-index: -10000;
    overflow: hidden;
}

#preview * {
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: inline-block;
    position: absolute;
}

#preview-video {
    width: 100vw;
    height: 100vh;
    
    filter: blur(3px);
    border-width: 0px;

    z-index: -9999;
    background-color: black;
}

#preview-cover {
    z-index: -9998;
    background-color: rgba(0, 0, 0, 0.4);
}

@font-face {
    font-family: 둥근모꼴;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
}